* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  color: white;
}

body {
  display: flex;
  flex-direction: row;
  background: #F4F6F8;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 100vh;
  background: #111827;
  position: fixed;
  gap: 10px;
}

header hr {
  margin-block: 5px;
  width: 100%;
  background-color: #f4f6f8;
  opacity: 0.2;
}

.side-card {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  /* border: 1px solid rgb(255, 0, 0); */
  padding: 1rem;
  gap: 1rem;
  width: calc(100% - 4rem);
}

.side-card h3 {
  font-weight: 400;
}

.side-card i {
  font-size: 1.2rem;
}

.top-title-wrap {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 5px;
  padding-right: 1rem;
  padding-top: 1rem;
}

.top-title-wrap img {
  width: 70px;
  object-position: left;
}

.duzina {
  height: 100rem;
}